<div class="row mt-3">
    <div class="col-lg-6">
        <h3>comentarios</h3>
    </div>
    <div class="col-lg-6">
        <button class="btn btn-primary float-end" routerLink="/addComment"> new comment</button>
    </div>
</div>

<table class="table table-hover mt-3">
    <thead>
        <th>titulo</th>
        <th>description</th>
        <th>author</th>
        <th>createdAt</th>
        <th></th>
        <th></th>
    </thead>
    <tbody>
        <tr *ngFor="let comment of listComments">
            <td>{{comment.title}}</td>
            <td>{{comment.description}}</td>
            <td>{{comment.author}}</td>
            <td>{{comment.createdAt}}</td>
            <td style="width: 10%;">
                <button class="btn btn-warning btn-sm float-end">editar</button>
            </td>
            <td style="width: 10%;">
                <button class="btn btn-danger btn-sm float-end">eliminar</button>
            </td>
        </tr>
    </tbody>
</table>

<div *ngIf="listComments.length == 0" class="row mt-5">
    <h3>papi no hay comentarios neni</h3>
</div>
